version: "3.3"
services:
  backend:
    hostname: backendjs
    container_name: backendjs
    restart: on-failure
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    environment:
      PORT: 8000
      DB: "mongodb://root:globant@pg-db:27017/"
    ports:
      - '8000:8000'
    networks:
     - backend
     - frontend 
  frontend:
    hostname: frontendjs
    container_name: frontendjs
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    ports:
      - '4200:4200'
    depends_on:
      - backend  
    networks:
      - frontend
networks:
  frontend:
  backend:
